.navbar {
    /*height: 10%;*/
}

.background-home {
    height: 90%;
    width:100%;
    background-color: grey;
}

.background-tutorial-contact {
    background-image: url("../img/background-pattern.png");
}

.footer {
    background-color: brown;
}